<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Task</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addItem()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Task</span>
          <input type="text" placeholder="ToDo" ng-model="data.newTask">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
